*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#maincont{
    width: 100%;
    height:110vh;
    background: linear-gradient(100deg,transparent 50%,orange 50%);

}

.header{
    width: 100%;
    height: 85px;
    display: flex;
}

.logo{
    display: flex;
    width: 45%;
}

.logo #img {
    width: 85px;
    height: 80px;
    margin-left: 25px;
}

.logo h1 {
    margin: 27px 0px 0px 3px;
}

.nav{
    width: 100%;
 }
.nav ul{
   display: inline-flex;
   
}

.nav ul li{
    margin: 40px 60px;
    text-align: center;
    list-style: none;
    
    }
    
.nav ul li a{
    font-weight: bold;
    color: black;
    text-decoration: none;
    }
    
.nav ul li a:hover{
    color: coral;
    }

.section1{
    width: 100%;
    height: 38em;
    display: flex;
    }
    
.section1 .tagline{
    width: 40%;
    height: 100%;
    }
    
.section1 .tagline h2{
    margin: 200px 0px 37px 40px;
    font-weight:bolder;
    font-size:xx-large;
    }
    
.section1 .tagline p{
    margin: 0px 0px 40px 40px;
    font-weight: 500;
    font-size:medium;
    }
    
.section1 .tagline #button1{
        border-radius:20px 20px 0 20px;
        margin: 40px 0px 0 120px;
        padding: 12px 15px 12px 15px;
        background-color: orange;
        font-weight: bolder;
    }
        
.section1 .img2{
    width: 60%;
    height: 100%;
    }
    
.section1 .img2 #img2{
    width: 500px;
    height: 600px;
    margin-top: 40px;
    margin-left: 60px;
}

.cont2{
    background-color: #f2f2f2;
    margin: 0;
    padding:20px;
    width: 100%;
    height: 500px;
    display: flex;
}

.cont2 #D1{
    border: 2px solid black;
    border-radius: 2em;
    padding: 20px;
    margin:100px 20px 80px 10px;
    text-align: center;
}

.cont2 #D2{
    border-radius: 2em;
    border:2px solid black;
    padding: 20px;
    margin:80px 20px 50px 20px;
    text-align: center;
}

.cont2 #D3{
    border-radius: 2em;
    border: 2px solid black; 
    padding: 20px;
    margin:100px 20px 80px 10px;
    text-align: center;
}

.menu{
    text-align: center;
    border-bottom: 2px solid black;
    margin-top: 10%;
    padding: 0;
}

.menu #menu1{
    width: 100%;
    border-bottom: 2px solid orange;
}

.menu #menu1 a{
    color: black;
}

.menu2{
    display: flex;
    margin-top: 0px;
    padding: 30px;
}

.menu2 .menucont{
    border: 1px solid black;
    border-radius: 35px;
    padding: 40px;
    margin: 30px;
    box-shadow:3px  black;
}

.menu3{
    display: flex;
}

.menu3 .menucont{
    border: 1px solid black;
    border-radius: 35px;
    padding: 40px;
    margin: 30px;
    box-shadow:3px solid black;
}
 
.decker{
    width: 100%;
    height: 35em;
    display: flex;
}

#decker{
    text-align: center;
    padding: 20px;
    width: 35%;
    height: 100%;
}

#decker h2{
    margin-top:30%;
    font-weight: bolder;
    font-size: 2.5em;
}

#decker p{
    margin-top: 40px;
}

#decker2{
    width: 100%;
    height: 100%;
    float:right;
    padding: 40px;
}

.apps{
    width: 100%;
    height: 40em;
    background-color: #f6b400;
    display: flex;
}

#apps{
    text-align: justify;
    margin-top: 20%;
    margin-left: 5%;
    width: 50%;

}

#apps h2{
    font-weight: bolder;
    font-size: 2em;
}

#apps2{
    width: 50%;
}

.last{
    width: 100%;
    height: 200px;
    display: flex;
}

#last1{
    width: 25%;
    display: flex;
    padding: 50px 0 0 30px;
}

#last1 h2{
    margin: 30px 0 0 0;
}

#last2{
    width: 30%;
    padding: 20px 0 0 20px;
}

#last2 h2{
    font-weight: bolder;
    text-align: left;
    margin-bottom: 10px;
}

#last2 ul{
    text-align: left;
}

#last2 ul li{
    list-style: none;
    margin: 10px;
}
.maincont{
    display: inline;
}

/* #cont{
    border: 1px solid black;
    display: inline-flex;
    height: 20%;
    width: 120%;
}

#cont1{
    width: 40%;
    height: 10%;
    background-color: #f6b400;
    
} */

.footer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:space-between;
}

#f1{
    padding-left: 20px;
}

#f2 a{
    margin: 3px;
    background-color: white;
    color: black;
}

#f3{
    padding-right: 20px;
}



/* 
/* ul-float,height 

ul li-displayinline,margin,list style
ul li a-textdecoration, fornweight
(pseudo selector)ul li align-self: hover

bunner
background url-where you can put in a link to an image
background repeat
classic way-classic way to center a div(position-absolute top 50,left 50%,transform-translate)

align items,ilign content display-centering a div

button-border radius(x,x,o,x)-basically focusing on the vertices */