*{
    margin: 0px;
    padding: 0px;
}

.header{
    width: 100%;
    height: 80px;
    display: flex;
    
}
.logo{
    display: flex;
    width: 45%;
}
.logo #img{
    width: 70px;
    height: 70px;
    margin-left: 25px;
}

.logo h1{
    margin: 27px 0px 0px 3px;
}
 .nav{
    width: 100%;
 }
.nav ul{
   display: inline-flex;
   
}

.nav ul li{
margin: 40px 60px;
text-align: center;
list-style: none;

}

.nav ul li a{
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.nav ul li a:hover{
    color: coral;
}



/* 
/* ul-float,height 

ul li-displayinline,margin,list style
ul li a-textdecoration, fornweight
(pseudo selector)ul li align-self: hover

bunner
background url-where you can put in a link to an image
background repeat
classic way-classic way to center a div(position-absolute top 50,left 50%,transform-translate)

align items,ilign content display-centering a div

button-border radius(x,x,o,x)-basically focusing on the vertices */